.bgblack {
    background-color: black;
  }
  .bggrey {
    background-color: #8c9191;
  }
  .bgred {
    background-color: #c75d5d;
  }
  .loginprofile {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .aligni {
    align-items: center;
  }
  
  .taiyou {
    float: left;
    padding: 1em;
    width: 10em;
  }
  
  .searchbar {
    float: left;
    width: 40em;
    height: 4em;
    border-radius: 5px 0 0 5px;
    border: 0;
  }
  
  .searchbutton {
    float: left;
    cursor: pointer;
    width: 4em;
    height: 4em;
    background-color: #e7e7e7;
    background-image: url(../pictures/main/Mag.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 5px 5px 0;
    border: 0;
  }
  
  .sellbutton {
    cursor: pointer;
    font-family: JosefinSans-Regular;
    color: white;
    margin-right: 2em;
    margin-left: auto;
    width: 8em;
    height: 4em;
    border: 0;
    border-radius: 5px;
    transition: 0.6s background-color;
  }
  
  ul
  {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
  }
  
  li
  {
      display: inline;
      padding: 1em;
  }
  
  li a
  {
      color: #c75d5d;
      text-decoration: initial;
  }