
@font-face {
  font-family: Ubuntu-Regular;
  src: url("../fonts/ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Ubuntu-Regular, sans-serif;
}

.limiter {
  width: 100%;
  margin: 0 auto; /* tb lr*/
}

.loginContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #e0e0e0;
}

.loginFormContainer {
  width: 500px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.loginForm {
  width: 100%;
  position: relative;
}

input {
  outline: none;
  border: none;
}

.formInput {
  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #000000;
  line-height: 1.2;

  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  background: #ebebeb;
  /* border-radius: 27px; */
  padding: 0 35px 0 35px;
}

.loginFormButtonContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

button {
  outline: none !important;
  border: none;
}

.loginFormButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  /* background-color: #57b846; */
  background-color:#c75d5d;

  font-family: Ubuntu-Bold;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.loginFormButton:hover {
  /* background-color: #1b3815; */
  background-color: #a05050;

}
