hr
{
	color: black;
}

.asidediv
{
	padding: 1em;
	position: relative;
	flex-grow: 1;
	overflow-wrap: break-word;
}

.editbutton
{
	cursor: pointer;
	font-family: JosefinSans-Regular;
	color: white;
	position: absolute;
	left: 30%;
	bottom: 20px;
	width: 8em;
	height: 4em;
	border: 0;
	border-radius: 5px;
	transition: 0.6s background-color;
}

.profile
{
	display: block;
	margin: auto;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 0;
	padding: 1em;
}



.payment
{
	display: block;
	width: 200px;
}

aside
{
	display:flex;
	flex-direction: column;
	background-color: black;
	color: white;
	float: left;
	height: 110%;
	width: 20%;
}

section
{
	display:flex;
	height:110%;
	flex-direction:column;
	overflow:hidden;
}

.navigation
{
	display:flex;
	flex-direction:row;
	align-items: center;
	
}

.navbutton
{
	cursor: pointer;
	background-color: Transparent;
	font-family: JosefinSans-Regular;
	width: 7em;
	height: 3em;
	font-size: 1em;
	margin: 1em 0 1em 2em;
	border: 0;
}

.active
{
	background-color: #c75d5d;
	width: 7em;
	height: 3em;
	color: white;
	font-size: 1em;
	font-family: JosefinSans-Regular;
	margin: 1em 0 1em 2em;
	border: 0;
	border-radius:5px;
}

.coverdiv
{
	width: 100%;
	height: 200px;
	overflow:hidden;
	background-image: url(../pictures/main/Taiyou-repeat.png);
	background-repeat: repeat;
}

.nospace
{
	margin: 0;

}

.scroll
{
	display: flex;
	flex-direction: row;
	align-items: center;
	width:75%;
	overflow: auto;
	height:50%;
	clear: right;
}

.reviewtitle
{
	padding: 1em;
	text-decoration: underline
}

.reviewdiv
{
	display: flex;
	flex-direction: column;
	height:60%;
	width:100%;
}

.reviewscroll
{
	display: flex;
	height: 100%;
	flex-direction: column;
	overflow-y: scroll;
	overflow-wrap: break-word;
}

.newreview
{
	margin: 1em;
	
}

.reviewform
{
	display: flex;
	flex-direction: column;
}

.reviewitem
{
	flex-shrink: 0;
	margin-left: 1em;
}

.reviewitem p
{
	font-style: italic;
	font-size: 0.75em;
	color: gray;
}

.revprofile
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.reviewbutton
{
	cursor: pointer;
	font-family: JosefinSans-Regular;
	color: white;
	width: 8em;
	height: 4em;
	border: 0;
	border-radius: 5px;
	margin-top: 1em;
	align-self: flex-end;
	transition: 0.6s background-color;
}

.reviewbutton:hover
{
	background-color: #a05050;
}

.sellbutton:hover
{
	background-color: #a05050;
}

a:link
{
	color: #c75d5d;
	text-decoration: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	position: fixed;
	top: 40%;
	left: 50%;
	margin-left: -40%;
	padding: 1em;
	background-color: #fefefe;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

.okbuttonlink
{
	display: flex;
	flex-direction: column;
}

.okbutton
{
	cursor: pointer;
	font-family: JosefinSans-Regular;
	color: white;
	width: 8em;
	height: 4em;
	border: 0;
	border-radius: 5px;
	margin-top: 1em;
	align-self: flex-end;
	transition: 0.6s background-color;
}

@media only screen and (max-width: 935px)
{
	.searchbar
	{
		width: 10em;
	}
}

@media only screen and (max-width: 1260px)
{
	.asidediv
	{
		font-size: 10px;
	}
	
	.profile
	{
		width: 50px;
		height: 50px;
	}
	
	.payment
	{
		width: 100px;
	}
	
	.sellbutton
	{
		font-size:10px;
		width: 7em;
		height: 3em;
	}
}


@media only screen and (max-width: 840px)
{
	.asidediv
	{
		font-size: 6px;
	}
	.sellbutton
	{
		font-size:6px;
		width: 6em;
		height: 3em;
	}
}

